// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.view-content {
  padding-left: 10%;
  padding-top: 3%;
  font-size: 16pt;
}

.title {
  font-family: Arial;
  font-size: 20pt;
  font-weight: bold;
  padding-bottom: 3%;
}

.table-projects-index {
  padding-left: 2%;
  text-align: right;
  padding-bottom: 2%;

  td {
    padding: 2%;
    font-size: 14pt;
    text-align: center;
  }

  th {
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    border-right: solid black 1px;
    padding: 2px 10px 2px 10px;
  }
}

.project-data-container {
  width: 100%;
  margin: auto;
}

.project-info-section {
  float: left;
  width: 30%;
  height: 100%;
  background-color: darkcyan;
  font-size: 18pt;
  padding-bottom: 2%;
  p {
    font-size: 18pt;
    padding: 12px 0 0 25px;
  }
}

.project-data-section {
  float: right;
  width: 70%;
  height: 100%;
  font-size: 18pt;
  p {
    font-size: 18pt;
    padding: 1%;
  }
}

.bills-data {
  float: left;
  padding: 20px;
  padding-left: 10%;
  width: 100%;
}

.incomes-data {
  float: left;
  padding: 20px;
  padding-left: 10%;
  width: 100%;
}

.project-data-section-field {
  float: left;
  padding: 32px;
}

.info-section-bottons {
  color: whitesmoke;
  float: right;
  padding-right: 15%;

  a {
    color: #BBBBBB;
    font-size: 22px;
    font-weight: bold;
  }
}

.project-form {
  padding: 2%;
  padding-top: 5%;
  padding-left: 7%;
}

.project-field {
  float: left;
  padding: 1%;
}

.project-field p {
  font-size: 16pt;
}

.project_form {
  width: 12%;
  padding: 2%;
  padding-left: 3%;
  background-color: #DADADA;
}

.project-form-field-back {
  width: 17%;
  padding: 2.5%;
  padding-left: 4%;
  margin-left: 60%;
  background-color: darkcyan;
  color: white;
  font-weight: bold;

  a { color: white; }
  a:visited {color: white;}
}