<h1>Editing Bill Type</h1>

<%= render 'form', bill_type: @bill_type %>

<%= link_to 'Show', project_bill_type_path(@project, @bill_type) %> |
<%= link_to 'Back', project_bill_types_path(@project) %>
