<div class="category_form">
  <h1>Nueva Categoria</h1>

  <%= render 'form', category: @category %>

  <div class="category-form-field-back">
    <%= link_to 'Back', project_categories_path %>
  </div>

</div>
