<div class="main-menu">
  <div class="main-menu-item-project">
    <%= project.name %>
  </div>
  <div class="main-menu-item">
    <%= link_to 'Categories / Products', project_categories_path(project) %>
  </div>
</div>